$myFont: aller, sans-serif;
.hidden { display: none; }

$main-bg-color: #333;
$mainf-color: rgb(63, 212, 162);

//$namef-styk

$main-font-face: 'arial', 'helvetica', sans-serif;

 
 

$heading-color: rgba(255, 255, 255, 0.5);
